.thanks_for_donate {
    background-color: #f5f7fa;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 20px;
        flex-direction: column;
        font-size: 30px;
}
.backline{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 720px;
    padding: 35px;
    text-align: center;
}
.toHomeBTN {
   width: 70px;
   height: 50px;
   background-color: #edf1fa;
   color: black;
   border: none;


   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;

}
body {
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
}
section{
    height: 400px;
    line-height: 100px;
    text-align: center;
}