<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Помощь разработчику</title>
    <link rel="stylesheet" href="/static/donation/donation.css">
</head>
<body>
<div>
    <button class="toHomeBTN" id="toHomeID" >
        <img src="../static/icons/back_arrow.svg" alt="Стрелка возврата", width="24", height="24",/>
    </button>
</div>
<section class="thanks_for_donate">

    <div class="backline">
        <p class="thanks_message">Спасибо за подержку!</p>
        <p class="thanks_message">Криптокошелек: bc1qpe6t0r3j362zydhknrx88vf5hd2uk8vtn22q0y</p>
    </div>

</section>

</body>
</html>